{% extends "blog/base.html" %}
{% block content %}
    <div class='bg-light px-3 py-3 shadow-lg'>
        <h1>O nas!</h1>
        <p>Strona stworzona jako podstawa zaliczenia przedmiotu Szkielety Tworzenia Aplikacji. Została ona stworzona za pomocą technologi Django. Jako bazę danych wykorzystujemy SQLite. </p>
    </div>
{% endblock content %}
