{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if title %}
        <title>Portal Społeczościowy - {{ title }}</title>
    {% else %}
        <title>Portal Społecznościowy</title>
    {% endif %}
</head>
<body style='background-color: #f0f2f5;'>
    <nav class="navbar navbar-expand-lg" style='background-color: #FFEDE1 !important;'>
        <a class="navbar-brand text-dark" href="{% url 'blog-home' %}">Portal społecznościowy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-dark" href="{% url 'blog-home' %}">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'blog-about' %}">O nas</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'profile' %}">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'logout' %}">Wyloguj</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'login' %}">Zaloguj</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'register' %}">Zarejestruj</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text">
            📣 Autorstwa: Dominika Bobińskiego oraz Mateusza Łuczyńskiego
          </span>
        </div>
      </nav>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 mt-4">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section mt-5 ml-5">
            <h3 class='text-center'>Lista skrótów</h3>
            <p class='text-center text-muted'>Tutaj znajdziesz przydatne linki
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                  <a class="nav-link text-dark" href="https://gitlab.com/TestMyVeins">Profil Dominika na GitLab</a>
                </li>
                <li class="list-group-item list-group-item-light">
                  <a class="nav-link text-dark" href="https://gitlab.com/mateusz.luczynski01">Profil Mateusza na GitLab</a>
                </li>
                <li class="list-group-item list-group-item-light">
                  <a class="nav-link text-dark" href="{% url 'blog-about' %}">O nas</a>
                </li>
                <li class="list-group-item list-group-item-light">
                  <a class="nav-link text-dark" href="https://www.djangoproject.com/">Strona główna Django</a>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
