{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section mb-3 bg-light px-3 py-3 shadow-lg">
        <div class="media-body">
          <div class="article-metadata">
          	<img src="{% static post.author.image %}" alt="">
            <a class="mr-2" href="#">@{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title text-dark" href="#">{{ post.title }}</a></h2>
          <p class="article-content" style="color: #696969;">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}
