{% extends "blog/base.html" %}
{% block content %}
    <h2>Wylogowano pomyślnie!</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            Zapomniałeś o czymś? <a href="{% url 'login' %}">Zaloguj się ponownie!</a>
        </small>
    </div>
{% endblock content %}
